@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;

}
.main-1{
    max-width: 1920px;
    margin: auto ;
    padding: 0 30px;
    
}
nav{
    padding: 30px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    height: 40px;

}

.nav-btns{
    display: flex;
    gap: 12px;
}

.lang-button{
    width: 120px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 25px;
}
.lang-button select{
    text-align: center;
    font-family: "Poppins";
    font-size: 14px;
    color: white;
    background-color: transparent;
    border-style: hidden;
    border-radius: 25px;
    padding: 5px 25px 5px 25px;
}

.signin-btn{
    width: 80px;
    background-color:white;
    color:black;
    font-family: "Poppins";
    font-weight: 800;
    border-style: none;
    border-radius: 25px;
    cursor: pointer;
}

.signin-btn:hover{
    background-color: gray;
}

.main-img {
    height: 700px;
    border-radius: 28px;
}

.main-img{
    position: relative;
    background-image: url("assets/netflix\ main\ img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 28px;
    
}

.main-img .box{
    height: 700px;
    background-color: black;
    opacity: 0.7;
}

.hero-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 580px;
    bottom: 0px;
    left: 120px;
    right: 0px;
    top: 250px;
    z-index: 1;
}
.hero-content h1{
    font-size: 3.6rem;
    line-height: 70px;
    margin: 0;
}

.container {
    max-width: 1920px;
    margin: auto;
    height: 200px;
    position: relative;
    bottom: 100px;
    clip-path: ellipse(80% 64% at 50% 100%);
    background-color: black;
}

.main-2{
    padding: 0 10px 10px 10px;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
    margin-top: -200px;
}

.trending-box{
    max-width: 1500px;
    margin:auto;
    height: 500px;
    
}

.trending-box h1{
    padding-top: 20px;
    font-size: 2rem;
}

.movies{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    list-style: none;
}


.movie-box{
    padding-right: 25px;
    height: 25rem;

}

.movie-box img{
    height: 25rem;
    border-radius: 20px;


}
.reasons-container{
    max-width: 1500px;
    margin: auto;
    margin-bottom: 30px;
}

.reasons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.reason-box h2{
    font-size: 16px;
}
.reason-box{
    position: relative;
    font-size: 14px;
    width: 355px;
    height: 180px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 20px;
    margin-bottom: 20px;
}

.faq-container{
    max-width: 1500px;
    margin: auto;
    margin-bottom: 30px;
}

.faq-box{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 50;
    width: 98%;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 15px;
    padding-left: 20px;
    margin-bottom: 10px;
}

h1{
    font-size: 28px;
}

.email-container{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.email-container p{
    text-align: center;
    
}
.email-box{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}
.email-box input{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 14px;
    background-color: rgba(0,0,0,0);
    color: white;
    width: 22rem;
    height: 2rem;
    border: 1px solid rgba(255,255,255,0.55);
    border-radius: 40px;
    padding: 10px;

}

.email-box button{
    font-family: "Poppins";
    font-weight: bolder;
    background-color: red;
    color: white;
    font-size: medium;
    border-radius: 40px;
    padding: 15px 40px;
}

footer{
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
}

footer p{
    font-size: 14px;

}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 40px 0;

    gap: 10px;
}
.grid ul {
    list-style: none;
}

.watermark{
    margin-top: 40px;
}

@media screen and (min-width:800px){
    .netflix-logo{
        width: 150px;
    }
    .n-logo{
        display: none;
    }
}
@media screen and (max-width:799px){
    .netflix-logo{
        display: none;
    }
    .n-logo{
        width: 25px;
    }
}
@media screen and (max-width:1919px) {
    .main-img {
        height: 540px;
    }

    .main-img .box{
        height: 540px;
    }

    .hero-content{
        left: 50px;
        top: 200px;
    }
    .hero-content h1{
        width: 500px;
        font-size: 3rem;
        line-height: 1.2;
    }

    .hero-content h3{
        font-size: 15px;
    }

    .hero-content p{
        font-size: 12px;
    }

    .trending-box{
        height: 380px;
    }
    .movie-box{
        height: 16rem;
    }
    .movie-box img{
        height: 16rem
    };
}

@media screen and (max-width:1600px) {
    .trending-box{
        width: 1250px;
    }

    .reasons-container{
        width: 1250px;
    }

    .faq-container{
        width: 1250px;
    }

    footer{
        width: 1150px;
    }
}

@media screen and (max-width:1380px) {
    .trending-box{
        width: 950px;
    }

    .reasons-container{
        width: 950px;
    }

    .faq-container{
        width: 950px;
    }

    footer{
        width: 850px;
    }
    .grid{
        
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
    }
}

@media screen and (max-width:1020px) {
    .main-img {
        height: 400px;
    }

    .main-img .box{
        height: 400px;
    }

    .hero-content{
        line-height: 35px;
        left: 50px;
        top: 125px;
    }
    .hero-content h1{
        width: 350px;
        font-size: 2rem;
        line-height: 1.2;
        margin: 0;
    }

    .hero-content h3{
        margin: 0;
        font-size: 15px;
    }

    .hero-content p{
        font-size: 12px;
    }
    .main-2 h1{
        font-size: 20px;
    }
    .trending-box{
        height: 340px;
        width: 800px;
    }
    .movie-box{
        height: 16rem;
    }
    .movie-box img{
        height: 16rem
    }
    
    .reasons-container{
        width: 800px;
    }
    .reason-box p{
        font-size: 13px;
    }
    .faq-container{
        width: 800px;
    }
    .faq-box{
        height: 56px;
    }
    .faq-box h2{
        font-size: 14px;
    }
    footer{
        width: 700px;
    }
}

@media screen and (max-width: 960px) {
    .reasons{
        flex-direction: column;
    }
    .reason-box{
        height: 100px;
        width: 98%;
        margin-bottom: 0px;
    }
    .grid{
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
    
}

@media screen and (max-width: 860px) {
    .hero-content{
        top: 0;
        left: 30px;
        width: auto;
        max-width: 600px;
        justify-content: center;
    }
    .hero-content h1{
        margin: 0;
    }

    .hero-content h3{
        margin: 0;
    }
    .hero-content .email-box{
        justify-content: flex-start;
    }
    .hero-content .email-box input{
        width: 40%;
    }
    
    .trending-box{
        width: auto;
        max-width: 90%;
    }

    .reasons-container{
        width: auto;
        max-width: 90%;
    }

    .faq-container{
        width: auto;
        max-width: 90%;
    }

    footer{
        width: auto;
        max-width: 80%;
    }
    
}

@media screen and (max-width:600px){
    .hero-content{
        width: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 540px;
        align-items: center;
        justify-content: center;
    }

    .hero-content h1{
        display: flex;
        justify-content: center;
        width: auto;
        max-width: 540px;
        font-size: 24px;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }

    .hero-content h3{
        text-align: center;
        font-size: 12px;
    }
    .hero-content p{
        text-align: center;
        font-size: 10px;
    }

    .hero-content .email-box{
        margin-top: 10px;
        flex-direction: column;
        width: auto;
        max-width: 400px;
    }

    .hero-content .email-box input {
        width: 300px;
        height: 20px;

    }
    .hero-content .email-box button {
        padding: 10px;

    }
    .email-container{
        width: auto;
        max-width: 540px;
    }
}

@media screen and (max-width:400px){
    .hero-content .email-box input {
        width: 200px;
        height: 20px;
    }

    .email-container{
        width: 200px;
        margin: auto;
    }

    .email-container .email-box{
        width: auto;
        max-width: 250px;
    }

    .reason-box{
        height: 150px;
    }
}