@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;

}
.main-1{
    max-width: 1920px;
    margin: auto ;
    padding: 0 30px;
    
}
nav{
    padding: 30px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 40px;
}

.hero img{
    width: 150px;
}

.main-img{
    background-image: url("assets/netflix\ main\ img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 28px;
}

.main-img .box{
    height: 75vh;
    background-color: black;
    opacity: 0.5;
   border-radius: 28px;
}

.container {
    max-width: 1920px;
    margin: auto;
    height: 200px;
    position: relative;
    bottom: 100px;
    clip-path: ellipse(80% 64% at 50% 100%);
    background-color: black;
}

.main-2{
    padding: 0 10px 10px 10px;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
    margin-top: -200px;
}

.trending-box{
    max-width: 1500px;
    margin:auto;
    height: 500px;
    
}

.trending-box h1{
    padding-top: 20px;
    font-size: 2rem;
}

.movies{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    list-style: none;
}


.movie-box{
    padding-right: 25px;
    height: 25rem;

}

.movie-box img{
    height: 25rem;
    border-radius: 20px;


}
.reasons-container{
    max-width: 1500px;
    margin: auto;
}

.reasons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.reason-box h2{
    font-size: 16px;
}
.reason-box{
    font-size: 14px;
    width: 355px;
    height: 180px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
}

.faq-container{
    max-width: 1500px;
    margin: auto;
    margin-bottom: 10px;
}

.faq-box{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 50;
    width: 98%;
    height: 5rem;
    border: 1px solid white;
    border-radius: 15px;
    padding-left: 20px;
    margin-bottom: 30px;
}

h1{
    font-size: 28px;
}

.email-container{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.email-container h4{
    text-align: center;
    
}
.email-box{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}
.email-box input{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 14px;
    color: black;
    width: 22rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 40px;
    padding: 10px;

}

.email-box button{
    font-family: "Poppins";
    font-weight: bolder;
    background-color: red;
    color: white;
    font-size: medium;
    border-radius: 40px;
    padding: 15px 40px;
}

footer{
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
}

footer p{
    font-size: 14px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    gap: 10px;
}
.grid ul {
    list-style: none;
}

